body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/*Variables*/
:root {
  --color-white: #fff;
  --grey-background: rgba(244, 242, 239, 1.00);
  --grey-link: rgba(100, 100, 100, 1.00);
  --teal: #004D40;
  --teal-hover: #00695C;
  --scrollbar-color: rgba(80, 80, 80, 1.00);
  --brand-success: #396f3a;
  --brand-danger: #c92a2a;
  --brand-loading: #228ae6;
  --loader-size: 8em;
  --check-height: var(--loader-size)/2;
  --check-width: var(--check-height)/2;
  --check-left: var(--loader-size)/6 + var(--loader-size)/12;
  --check-thickness: 2px;
  --check-color: var(--brand-success);
}


/*Variables END*/


/*STYLE OVERRIDES*/

@media screen and (max-width: 768px) {

  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 15px !important;
    margin-top: 20px;
  }
}


.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg, #00695c 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

@media screen and (max-width: 768px) {
  .form-control, .is-focused .form-control {
    color: #3C4858;
  }
}

.white-form-control-text {
  color: var(--color-white) !important;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 105, 92, 0.4);
  background-color: #00695c;
  color: #fff;
}

.btn.btn-primary {
  color: #fff;
  background-color: var(--teal) !important;
  border-color: var(--teal) !important;
  box-shadow: 0 2px 2px 0 rgba(0, 77, 64, 0.14), 0 3px 1px -2px rgba(0, 77, 64, 0.2), 0 1px 5px 0 rgba(0, 77, 64, 0.12);
}

.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
  box-shadow: 0 14px 26px -12px rgba(0, 77, 64, 0.42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 77, 64, 0.2);
}

.btn.btn-primary.focus, .btn.btn-primary:focus, .btn.btn-primary:hover {
  color: #fff;
  background-color: var(--teal) !important;
  border-color: var(--teal-hover) !important;
}

.btn.btn-primary.active.focus, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .btn.btn-primary:active.focus, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .open > .btn.btn-primary.dropdown-toggle.focus, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .show > .btn.btn-primary.dropdown-toggle.focus, .show > .btn.btn-primary.dropdown-toggle:focus, .show > .btn.btn-primary.dropdown-toggle:hover {
  color: #fff;
  background-color: var(--teal);
  border-color: var(--teal-hover);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--teal-hover);
  border-color: var(--teal);
}


.description {
  font-size: 1.1em;
  color: var(--teal);
}

.btn.btn-primary.btn-link, .btn.btn-primary.btn-link:active, .btn.btn-primary.btn-link:focus, .btn.btn-primary.btn-link:hover {
  background-color: transparent;
  color: var(--teal);
}

.card .card-header-primary {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(0, 77, 64, 0.6);
}

.card.bg-primary, .card .card-header-primary, .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
  background: linear-gradient(60deg, #00695c, #004d40);
}

.item-image > .img-fluid {
  object-fit: cover;
  object-position: center;
}

.navbar .navbar-brand {
  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: .325rem 0 .625rem 0;
}

/*STYLE OVERRIDES END*/


/*Main*/
html {
  padding: 0;
  margin: 0;
}


a {
  color: var(--teal);
}

a:hover, a:focus, a:visited {
  color: var(--teal);
}

::selection {
  color: var(--color-white);
  background-color: var(--teal-hover);
}

.logo {
  width: 32px;
  height: 40px;
}

/* HERO */
#hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: url("./assets/img/4-cover.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgba(255, 255, 255, 1.00);
}

#hero-social-container a {
  color: var(--color-white);
  margin-top: 25px;

}

#hero-social-icons {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5em;
}

#hero-message {
  width: 50%;
}

#hero-message h1 {
  font-size: 2.5em;
}

#hero-message p {
  font-size: 1.5em;
  margin-top: 45px;
}

@media screen and (max-width: 400px) {
  #hero-message p {
    font-size: 1.0em;
  }

  #hero-message h1 {
    font-size: 2.5em;
  }

  #hero {
    align-items: center;
    justify-content: space-around;
  }
}


/* HERO END */


/*HOW TO USE*/
#how-to-use-container {
  background: var(--grey-background);
  margin-top: 60px;
  padding: 30px;
  border-radius: 10px;
}

#how-to-use-container p {
  font-size: 1.2em;
}

#ghana-map {
  margin-top: 30px;
}

/* WORKSPACE */
.property-head {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
}

.see-more {
  font-size: 20px;
  color: var(--teal-hover);
  text-align: center;
  width: 100px;
  margin: 10px auto;
  display: block;
}

.see-more:hover {
  text-decoration: none;
  color: var(--teal);
}


.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: var(--teal-hover);
  text-align: center;
  display: block;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: var(--teal);
  text-decoration: none;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.workspace-head-wrapper {
  padding-left: 40px;
}

.workspace-head {
  text-align: left;
  font-size: 30px;
}

.workspace-paragraph {
  font-size: 17px;
  margin-top: -10px;
  color: rgba(30, 30, 30, 0.80);
}

.workspace-link {
  color: var(--teal);
  font-weight: bold;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.workspace-link:hover {
  text-decoration: none;
  color: var(--teal-hover);
}

.first-word {
  color: var(--teal);
}


/* OWL */
.slide-item {
  font-size: 14px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--teal);
}

.item-content {
  margin-top: 15px;
}

.item-location {
  color: var(--teal);
  font-weight: bold;
}

.item-name {
  font-weight: bold;
  text-transform: uppercase;
}

.negotiation-status {
  color: var(--teal);
  font-size: 12px;
  border: var(--teal) solid 1px;
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
}

.item-price {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 15px;
}

.item-image > img {
  border-radius: 5px;
  height: 200px;
}

@media screen and (min-width: 1400px) {
  .item-image > img {
    border-radius: 5px;
    height: 300px;
  }
}

/* OWL END */

/* WORKSPACE END */

/* payment */
.circle-loader {

  margin: 0 0 30px 10px;
  border: var(--check-thickness) solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--brand-loading);
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
}


.checkmark {
  display: none;
}

.checkmark.draw:after {
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: 4em;
  width: 2em;
  transform-origin: left top;
  border-right: 2px solid #396f3a;
  border-top: 2px solid #396f3a;
  content: "";
  left: 2em;
  top: 4em;
  position: absolute;
}

.load-failure:before, .load-failure:after {
  display: block;
  content: "";
  height: 2px;
  background: var(--brand-danger);
  width: 50%;
  position: absolute;
  top: 4em;
  left: 2em;
}

.load-failure:before {
  transform: rotate(45deg);
}

.load-failure:after {
  transform: rotate(-45deg);
}


.load-complete {
  -webkit-animation: none;
  animation: none;
  transition: border 500ms ease-out;
}

.load-complete.load-success {
  border-color: var(--brand-success);
}

.load-complete.load-failure {
  border-color: var(--brand-danger);
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--check-width);
    opacity: 1;
  }
  40% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
  100% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
}

/* payment end */

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 8px;
  color: #5f5f5f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--teal);
  border-radius: 0;
}

footer {
  margin-top: 80px;
  background-color: var(--grey-background);
  padding: 40px 0 60px 0;
  font-weight: normal;
}

#footer-social {
  font-size: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#footer-social a {
  color: var(--grey-link);
}

#momo {
  width: 75px;
  height: 50px;
}

/*CONTACT*/
.form-head {
  margin-top: 2em;
  margin-bottom: 1em;

}

.contact-header {
  height: 60vh;
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
  background: url(./assets/img/telephone.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 40px;
}

#contact-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  border-top: solid var(--teal) 2px;
  border-bottom: solid var(--teal) 2px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  #contact-form {
    width: 90%;
  }
}

#contact-form > div {
  margin-top: 60px;
}

#contact-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-form button {
  font-size: 1.01em;
  text-transform: capitalize;
  margin: 5px 10px;
  padding: 12px 40px;
}

/*CONTACT END*/


/*ABOUT*/
#about-header {
  height: 60vh;
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
  background: url(./assets/img/20-cover.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 40px;
}

.about-text {
  margin-top: 60px;
}

.about-text p {
  font-size: 1.2em !important;
  line-height: 1.2em;
}

/*ABOUT END*/


/*SEARCH*/
#custom-form {
  margin-top: 130px;
  padding: 50px 50px;
  border-top: solid 2px var(--teal);
  border-bottom: solid 2px var(--teal);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.file-attachment {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.file-attachment > .bmd-label-floating {
  margin-right: 40px;
  color: black;
  font-weight: bold;
}

#custom-form h2 {
  text-align: center;
}

#custom-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}

#custom-form-buttons button {
  font-size: 1.01em;
  text-transform: capitalize;
  margin: 5px 10px;
  padding: 12px 40px;
}

.custom-form-subhead {
  font-weight: bold;
  margin-top: 30px;
}

label {
  color: #333;
}

.custom-search-inputs {
  border: 1px solid #d2d2d2;
  border-radius: .25rem !important;
}

.form-check .form-check-label .circle .check {
  background-color: var(--teal);
}

.form-check .form-check-input:checked ~ .circle {
  border-color: var(--teal-hover);
}

.form-check .form-check-input:checked + .form-check-sign .check {
  background: var(--teal);
}

/*SEARCH END*/


/*TERMS*/
.term-section {
  margin-top: 50px;
}

#terms-header {
  height: 60vh;
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
  background: url(./assets/img/terms.png) no-repeat center center fixed;
  background-size: cover;
  padding-top: 40px;
}

.term-section h3 {
  font-weight: bold;
}

.term-paragraph {
  font-size: 1.2em;
}

/*TERMS END*/


/*SEARCH RESULTS*/
#search-images {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card-body p, .card-body a {
  font-weight: normal;
  font-size: 1.1em;
}

.card-body a {
  font-weight: bold;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  #search-images {
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
    margin-left: 10%;
  }

  .card-img-top {
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
}

/*SEARCH RESULTS END*/


/*HOST*/
.selectpicker {
  padding-left: 10px;
}

.selectpicker option:hover {
  background-color: var(--teal);
}

/*HOST END*/


/*VIEW LISTING*/
#view-listing-head {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 15px;
}

.main-pic {
  grid-column: span 2;
  grid-row: span 2;
}

.main-pic img {
  object-fit: cover;
  object-position: center;
  height: 20em;
  width: 30em !important;
}

#listing-details {
  grid-column: span 3;
  justify-self: center;
  padding: 20px;
}

#listing-details p {
  font-size: 1.05em;
  font-weight: 300;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .main-pic {
    grid-column: span 2;
    grid-row: span 2;
    align-self: center;
  }

  #listing-details {
    grid-column: span 2;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  #view-listing-head {
    grid-template-columns: repeat(5, 1fr);
  }

  .main-pic {
    grid-column: 1 / 3;
    grid-row: span 3;
  }

  #listing-details {
    grid-column: span 3;
  }
}

@media screen and (max-width: 766px) {
  #view-listing-head {
    grid-gap: 0;
  }
}

#other-pics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 20px;
  margin-top: 40px;
}

.other-pic-item img {
  height: 13em;
  width: 100%;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  object-fit: cover;
  object-position: center;
}

.other-pic-item img:hover {
  cursor: pointer;
  transform: scale(1.05);
  overflow: hidden;
}

/*VIEW LISTING END*/


/*ERROR*/

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#notfound .notfound-bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 77, 64, 1);
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 910px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 220px;
  font-weight: 900;
  margin: 0px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.notfound .home-btn, .notfound .contact-btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 13px 25px;
  font-size: 18px;
  border-radius: 40px;
  margin: 7px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .home-btn {
  color: rgba(0, 77, 64, 1);
  background: #fff;
}

.notfound .contact-btn {
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

.notfound-social {
  margin-top: 25px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  margin: 0px 6px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-social > a:hover {
  color: rgba(0, 77, 64, 1);
  background-color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 182px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 146px;
  }

  .notfound .notfound-404 h1 {
    font-size: 146px;
  }

  .notfound h2 {
    font-size: 16px;
  }

  .notfound .home-btn, .notfound .contact-btn {
    font-size: 14px;
  }
}


/*ERROR END*/



/* USER PROFILE */

.profile {
  width: 100%;
  background-color: rgba(255,255,255,1.00);
  border-radius: 10px 10px 10px 10px;
}

.profile-top {
  border-radius: 10px 10px 0px 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgba(255,255,255,1.00);
  text-align: center;
  background: linear-gradient(to bottom right ,#004D40,rgb(36, 204, 184));
}

.profile-bottom {
  padding: 40px 20px;
  border: 2px rgba(0,0,0,0.1) solid;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
}

.profile-img img{
  border-radius: 50%;
}

.profile-username p{
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
}

.profile-occupation {
  font-size: 16px;
  color: rgba(255,255,255,0.80)
}

.item-left {
  float: left;
  font-weight: bold;
}

.item-right {
  text-align: right;
}


/* USER PROFILE END */

@media screen and (max-width: 991px) {
  #nav-form {
    width: 200px;
    margin-bottom: 15px !important;
  }

  .bmd-form-group .form-control, .bmd-form-group input::placeholder, .bmd-form-group label {
    line-height: 1.1;
    padding-left: 8px !important;
  }

  #nav-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #nav-button button {
    margin-right: 15%;
  }
}


/*DASHBOARD*/

#dashboard {
  margin-top: 100px;
}

.number-hours, .number-minutes, .number-seconds {
  font-size: 20px;
  color: #00695C;
  font-weight: bold;
  text-align: center;
}

.countdown, .countdown-nums {
  margin-right: 0 !important;
}

.number-hours {
  margin-right: 0 !important;
}

.countdown-nums {
  font-size: 20px;
}

.options{
  display: flex;
  justify-content: space-between;
  line-height: 10px;
  padding-top: 10px;
}

.options-link{
  color: #00695C;

}

.options-link:hover{
  color: #004D40;
  text-decoration: none;
}

.list-group {
  font-size: 1.2em;
  border-top: 1px rgba(0,0,0,0.1) solid;
}


/*Login*/
.mh-100vh {
  min-height:100vh;
}

#login-block {
  -webkit-box-shadow:0px 0px 45px 0px rgba(0,0,0,0.4);
  -moz-box-shadow:0px 0px 45px 0px rgba(0,0,0,0.4);
  box-shadow:0px 0px 45px 0px rgba(0,0,0,0.4);
  z-index:2;
}

@media (max-width: 991.98px) {
  #login-block {
    opacity:.95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width:75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius:0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width:50%;
  }
}




/*Login Form*/
