.dash-profile-card {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  .profile-img {
    width: 70px;
    height: 70px;
  }
}
