#err-main-div {
  font-size: 16px;
  font-family: Roboto, serif;
  text-align: justify-all;
  background: #004D44;
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;
  h1 {
    margin: 0 0 10px;
    font-size: 9em;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  button {
    padding: 10px 20px;
    font-size: 15px;
    color: #004D44;
    background: white;
    border: 1px solid #004D44;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #004D44;
      border: 1px solid white;
      color: white;
    }
  }
}
.error {
  width: 50%;
  text-align: center;
  margin: auto;
  img {
    width: 100%;
  }
}
.error-message {
  margin: auto;
}
h2 {
  margin: 0 0 10px;
}
h3 {
  margin: 0 0 10px;
}
.main-col {
  margin: auto;
}
